body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.rooms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.room {
  width: 150px;
  height: 150px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 20px;
}

.room:hover {
  background-color: #000;
  color: #FFF;
  cursor: pointer;
}

.bloon {
  background-color: darkslategrey;
  color: #FFF;
  height: auto;
}